@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3></h3>
<h3>@Html.DisplayNameFor(model => model.PreferredStyle): @Html.DisplayFor(model => model.PreferredStyle)<h3></h3>
<p>@Html.ActionLink("update this Client and make them even cooler", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete this old Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to the beginning", "Index")</p>